* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

header {
  padding: 0.5% 2%;
  background-color: #edeef1e6;
  box-shadow: 3px 3px 5px rgb(135 135 115 / 30%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  margin-left: 10%;
}

nav {
  display: inline-block;
  margin-right: 20%;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  padding: 0 30px;
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  color: rgba(16, 16, 16, 0.793);
}

.main-bar li {
  border-bottom: #d1d0cf;
  padding: 3px;
}

.main-bar li:hover {
  border-bottom: 1px solid #ff6900;
  transition: border-bottom 0.4s ease-in;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 70%;
  z-index: 99;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
  text-align: center;
  padding: 2% 0;
}
.sidebar a {
  width: 100%;
}

.material-symbols-outlined {
  font-size: 50px;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.ham-menu {
  position: absolute;
  top: 50%;
  right: 5%;
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .ham-menu {
    display: block;
  }
}

.head {
  height: 140vh;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.first {
  background-color: #edeef1e6;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 4% 10%;
  background-color: #ffffff8a;
  color: #28282b;
}

.flex-container p {
  font-size: 1.5rem;
  font-weight: bold;
}

.flex-container a,
.flex-container a:visited,
.flex-container a:link {
  text-decoration: none;
  border: 2px solid #ff6900;
  border-radius: 2px;
  padding: 10px 40px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #28282b;
}

.flex-container a:hover {
  background-color: #ff6900;
}

.about-us {
  padding: 5% 7.5%;
}

.about {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid #07070838;
  border-radius: 2px;
  padding-bottom: 5%;
}

.about-info {
  width: 40%;
  color: #28282b;
}

.about-info h2 {
  color: #ff6900;
  margin-bottom: 2%;
}

.about-info h2,
.about-info h1 {
  margin-bottom: 3%;
}

.about-info h1 {
  font-size: 2.5rem;
}

.about-info p {
  font-size: 1.2rem;
  line-height: 1.4;
}

.about-img {
  display: flex;
  align-items: center;
}

.about-img img {
  height: 300px;
  width: 450px;
}

@media (max-width: 800px) {
  .about-us {
    padding: 5% 2.5%;
  }
  .about {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about-img {
    justify-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
  }

  .about-img img {
    width: 100%;
  }

  .about-info {
    width: 80%;
  }
}

.products {
  box-sizing: border-box;
  width: 100%;
  padding: 0% 7.5% 5% 7.5%;
}

.products h2 {
  text-align: center;
  margin-bottom: 7.5%;
}

.product-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-flex-item {
  height: 30%;
  width: 30%;
}

@media (max-width: 800px) {
  .product-flex {
    flex-direction: column;
    align-items: center;
  }
  .product-flex-item {
    padding-bottom: 5%;
    width: 50%;
  }
}

.contact {
  /* height: 400px; */
  padding: 5% 10%;
  background-color: #28282b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact h2 {
  color: #ff6900;
  margin-bottom: 100px;
  font-size: 2rem;
}

.contact-form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-form input {
  /* width: 20%; */
  height: 50px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ff6900;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.contact-form textarea {
  /* width: 50%; */
  height: 150px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #ff6900;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 10px 20px;
  grid-column: span 2;
}

.contact-form button {
  background: transparent;
  padding: 30px 100px;
  color: #ff6900;
  border: 2px solid #ff6900;
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  margin-top: 5%;
  font-size: 1.2rem;
  align-self: center;
}

.contact-form button:hover {
  background-color: #ff6900;
  color: #28282b;
}

@media (max-width: 800px) {
  .contact-form .form-grid {
    grid-template-columns: 1fr;
  }

  .contact-form textarea {
    grid-column: span 1;
  }
}

footer {
  padding: 2.5% 7.5%;
  background-color: #edeef1e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quick-links a,
.quick-links a:active {
  text-decoration: none;
  color: #28282b;
  font-size: 1.2rem;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
        align-self: start;
    }

    .quick-links {
        flex-direction: column;
        align-items: center;        
    }
    .quick-links a {
        margin-bottom: 7.5%;
    }
}